html,body {
    height: 100%;
}
.container {
    display: grid;
    grid-template-rows: 1fr 1fr 4fr;
    background-color: #bae6fd;
    height: 100%;
    position: relative;
}
/*header ssection */
header {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    background-color: #0c4a6e;
    color: #f0f9ff;
    align-items: center;
    grid-row: 1/2;
    box-shadow: 0px 5px 10px black;
}

.user {
    display: flex;
    align-items: center;
    gap: 1em;
}

.user img {
    border-radius: 50%;
    height: 5em;
}

.user div {
    display: flex;
    flex-direction: column;
    line-height: 1%;
}

.user div :last-child {
    font-weight: bold;
    font-size: 1.5em;
}

.shwForm {
    border: 1px solid transparent;
    background-color: #0369a1;
    border-radius: 15px;
    padding: .5em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: #f0f9ff;
    height: 3em;
    display: flex;
    align-items: center;
}

.mainBtn {
    background-color: #0c4a6e;
}

.mainBtn:hover, .shwForm:hover{
    border-color: #bae6fd;
}

.alt {
    display: flex;
    gap: 2em;
    align-items: center;
}

/*sidebar section*/


.sidebar {
    background-color: #0369a1;
    color: #f0f9ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    position: absolute;
    grid-row: 2/3;
    justify-self: center;
    width: 100%;
    box-shadow: 0px 5px 10px black;
}

.hidden {
    display: none;
}

.sidebar h2 {
    margin: .1em;
}

.sidebar button {
    margin-top: 1em;
}

.sidebar input:focus {
    border:1px solid #082f49;
}

#bookInfo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;
}

#bookInfo div {
    flex-grow: 1;
    flex-basis: 250px;
    display: flex;
    flex-direction: column;
    margin: 0em 1em;
}

/*book cards*/

.display {
    display: grid;
    padding: 2.5em;
    gap: 1.5em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    height: 100%;
    box-sizing: border-box;
    grid-row: 2/4;
    overflow: auto;
    place-items: center;
}

.display div {
    background-color: #e0f2fe;
    width: 250px;
    height: 250px;
    border-radius: 15px;
    border: 2px solid #082f49;
    padding: 2em;
    box-sizing: border-box;
    box-shadow: 8px 8px 25px black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.display div ul {
    padding-left: 0px;
}

.display div li {
    display: flex;
    align-items: baseline;
    gap: .2em;
}

.display div p {
    margin: 0;
}

.display div span{
    font-weight: bold;
    font-size: 1.2em;
}

.display>div>.btnDiv {
    border: none;
    align-self: flex-end;
    box-shadow: none;
    height: 25px;
    width: 50px;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.display>div>.btnDiv span:hover {
    font-size: 1.4em;
}